.workBox{
<<<<<<< HEAD
    background-color: #F7F7F7;
=======
    background-color: #e3f2fd;
>>>>>>> 3949d9455c3a5ba74f252b74716249de571e1681
    width : 45vw;
}

.workTitle{
    position: sticky;
}

@media screen and (max-width: 1225px) {
    .workBox{
        width : 96%;
    }
    .workTitle{
        padding: 2vh 1vw;
    }
}
